<h1>Session#login</h1>
<p>Find me in app/views/session/login.html.erb</p>

<%= form_tag do %>
<%=label_tag :email %>
<%=text_field_tag :email %>
<%=label_tag :password %>
<%=password_tag :password %>
