<p id="notice"><%= notice %></p>

  <h1> Current Menu Options</h1>
  <p></p>

  <% @courses.each do |course| %>
  <table class="table">
      <thead>
        <tr><p class="lead"><%= course.name %></p>
        </tr>
        <tr>
          <th>Dish</th>
          <th>Description</th>
          <th>Price</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% course.dishes.each do |dish| %>
          <tr>
            <td><%= link_to "#{dish.name}", edit_dish_path(dish) %> </td>
            <td><%= dish.description %></td>
            <td><%= number_to_currency(dish.price) %></td>
            <td><button type="button" class="btn btn-danger"><%= link_to 'Delete', dish, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <button type="button"><%= link_to "New #{course.name}", new_dish_path(course_id: course.id) %> </button></p>
  <% end %>
